/* CSS Reset*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

main {
background-color: rgb(216, 125, 216);
color: black;

padding: 100px 0;

display: flex;
flex-direction: column;

align-items: flex;

}
form{
    width: 40%;
    height: 400px;
    margin:0 auto;
    padding: 100px 0;


    
    background-color: rgb(216, 125, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

input[type="submit"]{
    width: 40%;
    height: 20px;
    margin: 0 auto;

    background-color: #c31616;
    color: white;
}

.campo-label {
    
    width: 60%;
    height: 40px;
    margin: 0 auto;
    

    display: flex;
    flex-direction: column;
    
}

input{
    text-indent: 4px;

    height: 60px;
    border-radius: 100px;
    border: none

}